.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

.bg-image {
  min-height: 300px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url('https://static.wixstatic.com/media/fee8a3_0e2e0c8c187d4b3594cd7507ebb82660~mv2.png/v1/fill/w_1297,h_554,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/fee8a3_0e2e0c8c187d4b3594cd7507ebb82660~mv2.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.column:first-child {
  margin-right: 40px; /* Espaçamento entre as colunas */
}

.form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 350px;
  margin-bottom: 30px;
}

select {
  width: 390px; /* Ajuste a largura conforme necessário */ 
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 18px 100px; /* Espaçamento interno do botão (superior/baixo esquerdo/direito) */
  border: none; /* Remove as bordas do botão */
  border-radius: 30px; /* Adiciona cantos arredondados ao botão */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
  transition: ease-in;
  background-color: #444343;

  text-align: center;
  color: #ffffff;
  font-size: 16px;
}

.label-input {
  font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
  display: block;
  text-align: left; /* Posiciona o rótulo à esquerda do input */
  margin-bottom: 5px; /* Espaçamento inferior entre o rótulo e o input */
  color: #bbbbbb;
}

.titulo-dois {
  margin-top: 115px; /* Espaçamento superior para posicionar o título mais abaixo */
}

.tag-p-1 {
  margin-top: 75px;
}

.form-spacing {
  margin-bottom: 100px; /* Espaçamento inferior desejado */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation {
  animation: fade-in 0.5s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 20px;
  }
}